body {

  background-color: #eee !important;
}

.nav-tabs {
  justify-content: flex-end !important;
  padding-right: 40px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: darkcyan !important;
  color: #fff !important;
}

.nav-tabs a {
  color: darkcyan !important;
}

.parent {
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title h1, h2, h4 {
  color: darkcyan;
  text-align: center;
}

.title span {
  font-size: 0.75em;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin-top: 100px;
}

.content .option {
  width: 25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px #ccc;
  padding: 20px;
}

.content .option:hover {
  background-color: #ddd;
}
.content .option:active {
  background-color: darkcyan;
}

.content .option p {
  font-size: 2em;
}

.activeCard {
  border: 4px solid darkcyan !important;
}

.action-content .winner {
  width: 25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 10px 1px #ccc;
  padding: 20px;
  font-size: 1.5em;
}

.content .option .data {
  align-items: center;
}


.content .option svg {
  width: 150px;
  height: auto;
}

.action-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.action-content form {
  width: 50%;
}

.form-group {
  display: flex;
  align-items: baseline;
}

#giveAccess {
  width: -webkit-fill-available;
  background-color: darkcyan;
  border-color: darkcyan;
}

#stopVoting {
  width: 100%;
  font-size: 1.5em;
}

.btn {
  margin-top: 50px;
  font-size: 1.5em;
  padding: 10px 40px;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login {
  margin: 100px auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.login .btn {
  margin-top: 0;
}

.login .btn-primary {
  background-color: darkcyan;
  border-color: darkcyan;
}

.login .btn-primary:focus {
  background-color: darkcyan;
  border-color: darkcyan;
}

.login .btn-primary:active {
  background-color: darkcyan !important;
  border-color: darkcyan !important;
}

.login .btn-primary:hover {
  background-color: #fff;
  color: darkcyan;
  border-color: darkcyan;
}

#getResultsSpanShow{
  color: red;
  text-align: center;
  display: block;
}
#getResultsSpan {
  display: none;
}

#stopSpanShow{
  color: red;
  text-align: center;
  display: block;
}
#stopSpan {
  display: none;
}

#restartSpanShow{
  color: red;
  text-align: center;
  display: block;
}
#restartSpan {
  display: none;
}

a:hover{
  text-decoration: none;
}